# Environment
APP_PORT=8000
APP_BASE_URL=http://localhost:8000
APP_BASE_PATH=/mgp
APP_DEBUG=false

# Auth
AUTH_MODE=local
PB_BASE_URL=https://base.example.com
JWT_SECRET=your-jwt-secret
JWT_MASTER_KEY=your-master-key

# CRYPT
# Generate with: python -c "from cryptography.fernet import Fernet; print(Fernet.generate_key().decode())"
ENCRYPTION_KEY=

# Database
DB_URL=postgresql+psycopg2://user:passwd@localhost:5432/postgres
